
  <!--   -->
  <div *ngIf="loggedIn; else loggedOut" class="logged_in">
    <app-base></app-base>
  </div>


  <ng-template #loggedOut>
  <div class="bgimg">
        <mat-card class="login-card">
          <mat-card-header>
            <mat-card-title>Welcome</mat-card-title>
            <mat-card-subtitle>To HTTK</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              A platform for Toxicokinetics
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" class="login-button"  (click)="login()">Login</button>
          </mat-card-actions>
        </mat-card>
</div>
</ng-template>
<router-outlet></router-outlet>
